sample_flows.json
[{"id":"b33fc15f.174da","type":"ce-write","z":"dbf30b89.788ff8","name":"Write","action":"save","cesource":"","cetext":"there is a person named 'Test Person'.","x":402.5,"y":250,"wires":[["a8e5a39d.a5076","6237e433.b49d0c"]]},{"id":"14b6c39c.eb5fec","type":"inject","z":"dbf30b89.788ff8","name":"Add fact","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":102.5,"y":125,"wires":[["49051232.09510c"]]},{"id":"207acba7.084fc4","type":"debug","z":"dbf30b89.788ff8","name":"","active":false,"console":"false","complete":"true","x":406.5,"y":165,"wires":[]},{"id":"49051232.09510c","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":199.5,"y":169,"wires":[["407e1cce.420274"]]},{"id":"a8e5a39d.a5076","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":561.5,"y":194,"wires":[["6955f840.1328f8","4a093b67.0de874"]]},{"id":"6955f840.1328f8","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":740,"y":154,"wires":[]},{"id":"6237e433.b49d0c","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"true","x":557,"y":238,"wires":[]},{"id":"4a093b67.0de874","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":724.5,"y":204,"wires":[]},{"id":"407e1cce.420274","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":302.5,"y":213,"wires":[["b33fc15f.174da","207acba7.084fc4"]]},{"id":"6c64761d.4b4ba8","type":"inject","z":"dbf30b89.788ff8","name":"List concepts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":110.5,"y":260,"wires":[["d1324aab.3224b8"]]},{"id":"d1324aab.3224b8","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":234,"y":303,"wires":[["dd445e4.fba9aa"]]},{"id":"dd445e4.fba9aa","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":345,"y":347,"wires":[["6e9cf992.4c5688"]]},{"id":"79ba6320.bbf59c","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":732,"y":361,"wires":[]},{"id":"6e9cf992.4c5688","type":"ce-list","z":"dbf30b89.788ff8","name":"","cetype":"concepts","x":448.5,"y":393,"wires":[["30f22bc9.b02e94"]]},{"id":"30f22bc9.b02e94","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":572,"y":345,"wires":[["79ba6320.bbf59c","83697ddc.d27a2"]]},{"id":"83697ddc.d27a2","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":747,"y":305,"wires":[]},{"id":"a3b47b7b.6e3bc8","type":"inject","z":"dbf30b89.788ff8","name":"Get concept","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":111,"y":396,"wires":[["33f05588.ed55fa"]]},{"id":"33f05588.ed55fa","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":226.5,"y":441,"wires":[["a76f70b3.e3714"]]},{"id":"a76f70b3.e3714","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":339.5,"y":487,"wires":[["26f3b854.ff8498"]]},{"id":"c324c5bc.f3f148","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":579.5,"y":480,"wires":[["265d609f.96e18","bb65edca.536af"]]},{"id":"bb65edca.536af","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":753.5,"y":438,"wires":[]},{"id":"265d609f.96e18","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":743.5,"y":504,"wires":[]},{"id":"26f3b854.ff8498","type":"ce-get","z":"dbf30b89.788ff8","name":"","cetype":"concepts","ceid":"person","x":445.5,"y":527,"wires":[["c324c5bc.f3f148"]]},{"id":"18e03b3c.25ab45","type":"inject","z":"dbf30b89.788ff8","name":"Get instance","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":118,"y":545,"wires":[["90e66e7a.640f8"]]},{"id":"90e66e7a.640f8","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":233.5,"y":590,"wires":[["77c5d806.e26cc8"]]},{"id":"77c5d806.e26cc8","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":346.5,"y":636,"wires":[["517ac6d2.647a88"]]},{"id":"517ac6d2.647a88","type":"ce-get","z":"dbf30b89.788ff8","name":"","cetype":"instances","ceid":"Test Person","x":452.5,"y":676,"wires":[["8caecb49.e8d448"]]},{"id":"8caecb49.e8d448","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":586.5,"y":629,"wires":[["a3c33667.57a868","764bfd49.cb0124"]]},{"id":"764bfd49.cb0124","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":760.5,"y":587,"wires":[]},{"id":"a3c33667.57a868","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":750.5,"y":653,"wires":[]},{"id":"4944929b.40912c","type":"inject","z":"dbf30b89.788ff8","name":"Load medicine","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":120,"y":20,"wires":[["52be78b7.b51068"]]},{"id":"52be78b7.b51068","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":171,"y":59,"wires":[["dd71391e.519d48"]]},{"id":"dd71391e.519d48","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":316,"y":59,"wires":[["727e7cd6.238534","a8157e42.5fd4d"]]},{"id":"a8157e42.5fd4d","type":"debug","z":"dbf30b89.788ff8","name":"","active":false,"console":"false","complete":"true","x":456,"y":20,"wires":[]},{"id":"727e7cd6.238534","type":"ce-write","z":"dbf30b89.788ff8","name":"Write","action":"save","cesource":"","cetext":"perform load sentences from url '/ce-store/ce/medicine/cmd/med_load.cecmd'.","x":448,"y":62,"wires":[["1dbb6c47.e19974","b3dd67fa.0c04a8"]]},{"id":"b3dd67fa.0c04a8","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"true","x":585.5,"y":105,"wires":[]},{"id":"1dbb6c47.e19974","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":604,"y":62,"wires":[["9605232.bc8d8e","3f19cfeb.1cfb2"]]},{"id":"3f19cfeb.1cfb2","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":788,"y":74,"wires":[]},{"id":"9605232.bc8d8e","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":768.5,"y":32,"wires":[]}]
