sample_flows.json
[{"id":"b33fc15f.174da","type":"ce-write","z":"dbf30b89.788ff8","name":"Write","action":"validate","cesource":"Dave","cetext":"there is a person named 'Mighty Mouse'.","x":396.5,"y":155,"wires":[["a8e5a39d.a5076","6237e433.b49d0c"]]},{"id":"14b6c39c.eb5fec","type":"inject","z":"dbf30b89.788ff8","name":"Add fact","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":96.5,"y":30,"wires":[["49051232.09510c"]]},{"id":"207acba7.084fc4","type":"debug","z":"dbf30b89.788ff8","name":"","active":false,"console":"false","complete":"true","x":400.5,"y":70,"wires":[]},{"id":"49051232.09510c","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":193.5,"y":74,"wires":[["407e1cce.420274"]]},{"id":"a8e5a39d.a5076","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":555.5,"y":99,"wires":[["6955f840.1328f8","4a093b67.0de874"]]},{"id":"6955f840.1328f8","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":734,"y":59,"wires":[]},{"id":"6237e433.b49d0c","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"true","x":551,"y":143,"wires":[]},{"id":"4a093b67.0de874","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":718.5,"y":109,"wires":[]},{"id":"407e1cce.420274","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":296.5,"y":118,"wires":[["b33fc15f.174da","207acba7.084fc4"]]},{"id":"6c64761d.4b4ba8","type":"inject","z":"dbf30b89.788ff8","name":"List concepts","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":104.5,"y":165,"wires":[["d1324aab.3224b8"]]},{"id":"d1324aab.3224b8","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":228,"y":208,"wires":[["dd445e4.fba9aa"]]},{"id":"dd445e4.fba9aa","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":339,"y":252,"wires":[["6e9cf992.4c5688"]]},{"id":"79ba6320.bbf59c","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":726,"y":266,"wires":[]},{"id":"6e9cf992.4c5688","type":"ce-list","z":"dbf30b89.788ff8","name":"","cetype":"models","x":442.5,"y":298,"wires":[["30f22bc9.b02e94"]]},{"id":"30f22bc9.b02e94","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":566,"y":250,"wires":[["79ba6320.bbf59c","83697ddc.d27a2"]]},{"id":"83697ddc.d27a2","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":741,"y":210,"wires":[]},{"id":"a3b47b7b.6e3bc8","type":"inject","z":"dbf30b89.788ff8","name":"Get concept","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":105,"y":301,"wires":[["33f05588.ed55fa"]]},{"id":"33f05588.ed55fa","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":220.5,"y":346,"wires":[["a76f70b3.e3714"]]},{"id":"a76f70b3.e3714","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":333.5,"y":392,"wires":[["26f3b854.ff8498"]]},{"id":"c324c5bc.f3f148","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":573.5,"y":385,"wires":[["265d609f.96e18","bb65edca.536af"]]},{"id":"bb65edca.536af","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":747.5,"y":343,"wires":[]},{"id":"265d609f.96e18","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":737.5,"y":409,"wires":[]},{"id":"26f3b854.ff8498","type":"ce-get","z":"dbf30b89.788ff8","name":"","cetype":"concepts","ceid":"person","x":439.5,"y":432,"wires":[["c324c5bc.f3f148"]]},{"id":"18e03b3c.25ab45","type":"inject","z":"dbf30b89.788ff8","name":"Get instance","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112,"y":450,"wires":[["90e66e7a.640f8"]]},{"id":"90e66e7a.640f8","type":"ce-setup","z":"dbf30b89.788ff8","name":"Setup (local)","server":"http://localhost:8080/ce-store","store":"","x":227.5,"y":495,"wires":[["77c5d806.e26cc8"]]},{"id":"77c5d806.e26cc8","type":"ce-parms","z":"dbf30b89.788ff8","name":"","format":"json","showstats":true,"x":340.5,"y":541,"wires":[["517ac6d2.647a88"]]},{"id":"517ac6d2.647a88","type":"ce-get","z":"dbf30b89.788ff8","name":"","cetype":"instances","ceid":"Fred","x":446.5,"y":581,"wires":[["8caecb49.e8d448"]]},{"id":"8caecb49.e8d448","type":"http request","z":"dbf30b89.788ff8","name":"","method":"use","ret":"obj","url":"","tls":"","x":580.5,"y":534,"wires":[["a3c33667.57a868","764bfd49.cb0124"]]},{"id":"764bfd49.cb0124","type":"debug","z":"dbf30b89.788ff8","name":"","active":true,"console":"false","complete":"payload","x":754.5,"y":492,"wires":[]},{"id":"a3c33667.57a868","type":"ce-check","z":"dbf30b89.788ff8","name":"","x":744.5,"y":558,"wires":[]}]
