sample-usage/.flows.json.backup
[{"id":"fb15ffa4.086b3","type":"tab","label":"Post school to ce store"},{"id":"7475f13c.2dc26","type":"tab","label":"Get lat/ lon from postcodes (api)"},{"id":"70b2edab.aeda84","type":"tab","label":"Get lat/ lon from postcodes (local)"},{"id":"5881fdb1.dc5614","type":"tab","label":"Get elevation (api)"},{"id":"c6781dea.a48d6","type":"tab","label":"Get elevation (local)"},{"id":"82e72a4f.53d978","type":"tab","label":"Possible staging areas"},{"id":"b2d750c3.69247","type":"tab","label":"Config"},{"id":"81709807.535b18","type":"tab","label":"Save postcode to file"},{"id":"a8c7c688.8c4238","type":"tab","label":"Save elevation to file"},{"id":"b835159c.b7a348","type":"tab","label":"Extract postcodes from schools ce"},{"id":"1970a74c.1f9fa9","type":"inject","z":"b835159c.b7a348","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":112.5,"y":86,"wires":[["ded360ad.fa04d"]]},{"id":"ded360ad.fa04d","type":"file in","z":"b835159c.b7a348","name":"load schools","filename":"./schools-facts.ce","format":"utf8","x":292.5,"y":89,"wires":[["b3754674.362d68"]]},{"id":"94ae0161.ddf44","type":"ce-post","z":"b835159c.b7a348","name":"create complete postcode","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"there is a postcode named msg.postcode that\n  has the value msg.lat as latitude and\n  has the value msg.lon as longitude and\n  has the value msg.eastings as mgrs easting and\n  has the value msg.northings as mgrs northing.","action":"save","returninstances":"false","steps":"","x":763.5,"y":478,"wires":[[]]},{"id":"b3754674.362d68","type":"function","z":"b835159c.b7a348","name":"extract postcodes","func":"var text = msg.payload;\nvar postcodes = [];\n\nfor(i = 0; i < 123; i++) {\n    var index = text.indexOf(\"postcode\")\n    var postcode = text.substring(index + 10, index + 17);\n    text = text.slice(index + 30);\n    postcodes.push(postcode.replace(\"'\", \"\"));\n}\n\nmsg.payload = postcodes;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":186.5,"y":175,"wires":[["45cde965.0f0078"]]},{"id":"45cde965.0f0078","type":"split","z":"b835159c.b7a348","name":"","splt":"\\n","x":193.5,"y":258,"wires":[["bf324b31.9cacd8"]]},{"id":"5feedc62.873af4","type":"http request","z":"b835159c.b7a348","name":"postcode api","method":"GET","ret":"obj","url":"","tls":"","x":239.5,"y":418,"wires":[["e78c28ac.ff9728"]]},{"id":"bf324b31.9cacd8","type":"function","z":"b835159c.b7a348","name":"create url","func":"msg.postcode = msg.payload;\nmsg.url = \"https://api.postcodes.io/postcodes/\" + msg.payload;\n    \nreturn msg;","outputs":1,"noerr":0,"x":183.5,"y":336,"wires":[["5feedc62.873af4"]]},{"id":"e78c28ac.ff9728","type":"function","z":"b835159c.b7a348","name":"extract from response","func":"var result = msg.payload.result;\n\nif (result) {\n    msg.lat = result.latitude;\n    msg.lon = result.longitude;\n    msg.eastings = result.eastings;\n    msg.northings = result.northings;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":331.5,"y":502,"wires":[["31315c28.e99db4"]]},{"id":"31315c28.e99db4","type":"switch","z":"b835159c.b7a348","name":"","property":"lat","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":547.5,"y":505,"wires":[["94ae0161.ddf44"],["e73e6920.0051e8"]]},{"id":"e73e6920.0051e8","type":"ce-post","z":"b835159c.b7a348","name":"create postcode stub","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"there is a postcode named msg.postcode","action":"save","returninstances":"false","steps":"","x":745.5,"y":532,"wires":[[]]},{"id":"641bee06.eb8be","type":"config","z":"b2d750c3.69247","name":"","properties":[{"p":"ceUrl","pt":"global","to":"http://localhost:8080/ce-store","tot":"str"},{"p":"mapsKey","pt":"global","to":"","tot":"str"}],"active":true,"x":206,"y":129,"wires":[]},{"id":"3ad4115d.d5692e","type":"inject","z":"fb15ffa4.086b3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":173,"y":229,"wires":[["f40f41b7.c295"]]},{"id":"f40f41b7.c295","type":"file in","z":"fb15ffa4.086b3","name":"load schools","filename":"./schools.csv","format":"utf8","x":285,"y":309,"wires":[["39aa28fc.256298"]]},{"id":"39aa28fc.256298","type":"csv","z":"fb15ffa4.086b3","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":410.5,"y":404,"wires":[["b0c724e7.210838"]]},{"id":"b0c724e7.210838","type":"ce-post","z":"fb15ffa4.086b3","name":"instanciate schools","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"there is a school named {uid} that\n  has the value msg.payload.site_name as site name and\n  has the value msg.payload.address as address and\n  has the value msg.payload.telephone_number as telephone number and\n  has the value msg.payload.pupil_gender as pupil gender and\n  has the value msg.payload.number_of_pupils as number of pupils and\n  has the value msg.payload.postcode as postcode.","action":"save","returninstances":"","steps":"","x":560.5,"y":511,"wires":[[]]},{"id":"1889515a.72fabf","type":"inject","z":"7475f13c.2dc26","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.5,"y":85,"wires":[["8eeb9993.3fec58"]]},{"id":"8eeb9993.3fec58","type":"function","z":"7475f13c.2dc26","name":"get school instances","func":"var url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":199.5,"y":177,"wires":[["974ee1e9.5a8e4"]]},{"id":"974ee1e9.5a8e4","type":"http request","z":"7475f13c.2dc26","name":"","method":"GET","ret":"obj","url":"","tls":"","x":202.5,"y":207,"wires":[["eaedb379.ba747"]]},{"id":"eaedb379.ba747","type":"split","z":"7475f13c.2dc26","name":"","splt":"\\n","x":262.5,"y":306,"wires":[["55e429e1.e6d778"]]},{"id":"55e429e1.e6d778","type":"function","z":"7475f13c.2dc26","name":"postcode api","func":"msg.school = msg.payload._id;\nmsg.postcode = msg.payload;\nmsg.url = \"https://api.postcodes.io/postcodes/\" + msg.payload.property_values.postcode;\n\nreturn msg;","outputs":1,"noerr":0,"x":374.5,"y":421,"wires":[["9c8bb45.87ead48"]]},{"id":"9c8bb45.87ead48","type":"http request","z":"7475f13c.2dc26","name":"","method":"GET","ret":"obj","url":"","tls":"","x":375.5,"y":450,"wires":[["7e352ae3.c84bd4"]]},{"id":"7e352ae3.c84bd4","type":"ce-post","z":"7475f13c.2dc26","name":"add lat/ lon to school","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"the school msg.school\n  has the value msg.payload.result.latitude as latitude and\n  has the value msg.payload.result.longitude as longitude.\n","action":"save","returninstances":"","steps":"","x":581.5,"y":524,"wires":[[]]},{"id":"3d4d5833.9bc118","type":"inject","z":"82e72a4f.53d978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126.5,"y":90,"wires":[["bdf4b4b8.1fd178"]]},{"id":"bdf4b4b8.1fd178","type":"ce-post","z":"82e72a4f.53d978","name":"conceptualise possible staging area","cetype":"concepts","ceid":"","rulename":"","queryname":"","cetext":"conceptualise a ~ possible staging area ~ PSA.","action":"save","returninstances":"","steps":"","x":412.5,"y":92,"wires":[[]]},{"id":"6f6b8400.79d95c","type":"inject","z":"81709807.535b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":79,"wires":[["b698f385.14e4e"]]},{"id":"b698f385.14e4e","type":"function","z":"81709807.535b18","name":"","func":"var url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":212,"y":171,"wires":[["282f4044.b39ee"]]},{"id":"282f4044.b39ee","type":"http request","z":"81709807.535b18","name":"","method":"GET","ret":"obj","url":"","tls":"","x":212,"y":201,"wires":[["7256621b.a61e2c"]]},{"id":"7256621b.a61e2c","type":"split","z":"81709807.535b18","name":"","splt":"\\n","x":272,"y":300,"wires":[["3878b62d.46c60a"]]},{"id":"3878b62d.46c60a","type":"function","z":"81709807.535b18","name":"","func":"msg.school = msg.payload._id;\nmsg.postcode = msg.payload;\nmsg.url = \"https://api.postcodes.io/postcodes/\" + msg.payload.property_values.postcode;\n\nreturn msg;","outputs":1,"noerr":0,"x":335,"y":378,"wires":[["5afb67d1.142e28"]]},{"id":"5afb67d1.142e28","type":"http request","z":"81709807.535b18","name":"","method":"GET","ret":"obj","url":"","tls":"","x":385,"y":444,"wires":[["a6064567.04bd48"]]},{"id":"a6064567.04bd48","type":"join","z":"81709807.535b18","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":506,"y":368,"wires":[["515c66e0.bb51d8","c5d9851a.7acad8"]]},{"id":"515c66e0.bb51d8","type":"function","z":"81709807.535b18","name":"","func":"var postcodeDB = {};\n\nfor (i = 0; i < msg.payload.length; i++) {\n    var result = msg.payload[i].result;\n    if (result) {\n        postcodeDB[result.postcode.replace(\" \", \"\")] = result;\n    }\n    \n}\n\nmsg.payload = postcodeDB;\nreturn msg;","outputs":1,"noerr":0,"x":598,"y":421,"wires":[[]]},{"id":"ca63a5d.ce58858","type":"file","z":"81709807.535b18","name":"save to file","filename":"./postcodes.json","appendNewline":false,"createDir":false,"overwriteFile":"false","x":718.5,"y":488,"wires":[]},{"id":"536a5a4f.368674","type":"inject","z":"70b2edab.aeda84","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":143,"y":69,"wires":[["1b65ee9e.fc2b21"]]},{"id":"9f276b82.c34b38","type":"function","z":"70b2edab.aeda84","name":"get school instances","func":"msg.postcodes = JSON.parse(msg.payload);\n\nvar url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":300,"y":229,"wires":[["f7cf7d28.ad9ae"]]},{"id":"f7cf7d28.ad9ae","type":"http request","z":"70b2edab.aeda84","name":"","method":"GET","ret":"obj","url":"","tls":"","x":301,"y":258,"wires":[["35ff7829.0911f8"]]},{"id":"35ff7829.0911f8","type":"split","z":"70b2edab.aeda84","name":"","splt":"\\n","x":276,"y":346,"wires":[["5cd4f75.e451d08"]]},{"id":"5cd4f75.e451d08","type":"function","z":"70b2edab.aeda84","name":"look up lat/ lon in postcode db ","func":"msg.school = msg.payload._id;\nmsg.payload.result = msg.postcodes[msg.payload.property_values.postcode];\n\nreturn msg;","outputs":1,"noerr":0,"x":392,"y":437,"wires":[["ece28e71.9cb3c"]]},{"id":"2498041a.9e415c","type":"ce-post","z":"70b2edab.aeda84","name":"add lat/ lon to school","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"the school msg.school\n  has the value msg.payload.result.latitude as latitude and\n  has the value msg.payload.result.longitude as longitude.\n","action":"save","returninstances":"","steps":"","x":799,"y":594,"wires":[[]]},{"id":"1b65ee9e.fc2b21","type":"file in","z":"70b2edab.aeda84","name":"load postcodes database","filename":"./postcodes.json","format":"utf8","x":257.5,"y":136,"wires":[["9f276b82.c34b38"]]},{"id":"ece28e71.9cb3c","type":"switch","z":"70b2edab.aeda84","name":"ignore unknown postcodes","property":"payload.result","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":515.5,"y":536,"wires":[["2498041a.9e415c"]]},{"id":"602fac7d.806a54","type":"ce-post","z":"fb15ffa4.086b3","name":"conceptualise school","cetype":"concepts","ceid":"","rulename":"","queryname":"","cetext":"-- model\nconceptualise a ~ school ~ S that\n  is a spatial thing and\n  has the value _S as  ~ site name ~ and\n  has the value _A as ~ address ~ and\n  has the value _P as ~ postcode ~ and\n  has the value _T as ~ telephone number ~ and\n  has the value _G as ~ pupil gender ~ and\n  has the value _N as ~ number of pupils ~.\n","action":"save","returninstances":"","steps":"","x":398.5,"y":110,"wires":[[]]},{"id":"ef6890ea.c7d12","type":"inject","z":"fb15ffa4.086b3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167.5,"y":110,"wires":[["602fac7d.806a54"]]},{"id":"e8ba0b46.fc24f8","type":"inject","z":"5881fdb1.dc5614","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":142,"y":95,"wires":[["e00aa196.b1472"]]},{"id":"e00aa196.b1472","type":"function","z":"5881fdb1.dc5614","name":"get school instances","func":"var url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":220,"y":187,"wires":[["4c8a56d5.0ba0b8"]]},{"id":"4c8a56d5.0ba0b8","type":"http request","z":"5881fdb1.dc5614","name":"","method":"GET","ret":"obj","url":"","tls":"","x":223,"y":217,"wires":[["bbff83a5.d8cb9"]]},{"id":"bbff83a5.d8cb9","type":"split","z":"5881fdb1.dc5614","name":"","splt":"\\n","x":244,"y":316,"wires":[["34de9be3.fd9294"]]},{"id":"6c35660d.632818","type":"function","z":"5881fdb1.dc5614","name":"elevation api","func":"msg.school = msg.payload._id;\n\nvar props = msg.payload.property_values;\n\nvar url = \"https://maps.googleapis.com/maps/api/elevation/json?locations=\";\nurl += props.latitude;\nurl += \",\";\nurl += props.longitude;\nurl += \"&key=\" + global.get(\"mapsKey\");\n\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":661,"y":238,"wires":[["77cd177c.4413c8"]]},{"id":"77cd177c.4413c8","type":"http request","z":"5881fdb1.dc5614","name":"","method":"GET","ret":"obj","url":"","tls":"","x":662,"y":267,"wires":[["49e70dfd.796864"]]},{"id":"3509c467.5558bc","type":"ce-post","z":"5881fdb1.dc5614","name":"add elevation to school","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"the school msg.school\n  has the value msg.elevation as elevation.\n","action":"save","returninstances":"","steps":"","x":703,"y":502,"wires":[[]]},{"id":"8537d06e.798e4","type":"switch","z":"5881fdb1.dc5614","name":"","property":"id","propertyType":"msg","rules":[{"t":"lt","v":"41","vt":"str"},{"t":"btwn","v":"40","vt":"num","v2":"80","v2t":"num"},{"t":"gte","v":"80","vt":"str"}],"checkall":"true","outputs":3,"x":234,"y":492,"wires":[["6c35660d.632818"],["93847b36.5df668"],["f8c11a2e.c02a48"]]},{"id":"93847b36.5df668","type":"delay","z":"5881fdb1.dc5614","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":407,"y":603,"wires":[["6c35660d.632818"]]},{"id":"f8c11a2e.c02a48","type":"delay","z":"5881fdb1.dc5614","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":406,"y":636,"wires":[["6c35660d.632818"]]},{"id":"34de9be3.fd9294","type":"function","z":"5881fdb1.dc5614","name":"get id as int","func":"msg.id = parseInt(msg.payload._id);\nreturn msg;","outputs":1,"noerr":0,"x":238.5,"y":399,"wires":[["8537d06e.798e4"]]},{"id":"49e70dfd.796864","type":"function","z":"5881fdb1.dc5614","name":"parse payload","func":"msg.elevation = msg.payload.results[0].elevation;\nreturn msg;","outputs":1,"noerr":0,"x":674.5,"y":378,"wires":[["3509c467.5558bc"]]},{"id":"619f2981.d6bae8","type":"comment","z":"5881fdb1.dc5614","name":"Explanation","info":"Google only allows 50 map api call per second so we need to split our request into 3 separate ones.","x":418.5,"y":496,"wires":[]},{"id":"73f39efb.f561b","type":"inject","z":"a8c7c688.8c4238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141,"y":87,"wires":[["ce1b6d4b.eabe2"]]},{"id":"ce1b6d4b.eabe2","type":"function","z":"a8c7c688.8c4238","name":"","func":"var url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":222,"y":179,"wires":[["e145decd.c682"]]},{"id":"e145decd.c682","type":"http request","z":"a8c7c688.8c4238","name":"","method":"GET","ret":"obj","url":"","tls":"","x":222,"y":209,"wires":[["2a1e8dcf.3beac2"]]},{"id":"2a1e8dcf.3beac2","type":"split","z":"a8c7c688.8c4238","name":"","splt":"\\n","x":241,"y":299,"wires":[["6873bb12.0cb394"]]},{"id":"4c5c2da2.e9e674","type":"join","z":"a8c7c688.8c4238","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":844,"y":491,"wires":[["3e252013.b7185"]]},{"id":"3e252013.b7185","type":"function","z":"a8c7c688.8c4238","name":"","func":"var elevationDB = {};\n\nfor (i = 0; i < msg.payload.length; i++) {\n    var payload = msg.payload[i];\n    if (payload) {\n            var result = msg.payload[i].results;\n            if (result) {\n               result = result[0];\n                var key = result.location.lat + ',' + result.location.lng;\n                elevationDB[key] = result;\n            }\n    }\n\n    \n}\n\nmsg.payload = elevationDB;\nreturn msg;","outputs":1,"noerr":0,"x":796,"y":635,"wires":[[]]},{"id":"c249eb67.317328","type":"file","z":"a8c7c688.8c4238","name":"save to file","filename":"./elevations.json","appendNewline":false,"createDir":false,"overwriteFile":"false","x":786.5,"y":683,"wires":[]},{"id":"ff64ad4a.2475a","type":"function","z":"a8c7c688.8c4238","name":"elevation api","func":"msg.school = msg.payload._id;\n\nvar props = msg.payload.property_values;\n\nvar url = \"https://maps.googleapis.com/maps/api/elevation/json?locations=\";\nurl += props.latitude[0];\nurl += \",\";\nurl += props.longitude[0];\nurl += \"&key=\" + global.get(\"mapsKey\");\n\n\nmsg.url = url;\nmsg.headers = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":657,"y":408,"wires":[["d2945dda.234b7"]]},{"id":"d2945dda.234b7","type":"http request","z":"a8c7c688.8c4238","name":"","method":"GET","ret":"obj","url":"","tls":"","x":658,"y":437,"wires":[["4c5c2da2.e9e674"]]},{"id":"63957086.37de8","type":"switch","z":"a8c7c688.8c4238","name":"","property":"id","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"str"},{"t":"btwn","v":"40","vt":"num","v2":"80","v2t":"num"},{"t":"gte","v":"80","vt":"str"}],"checkall":"true","outputs":3,"x":214,"y":505,"wires":[["7cb592a6.ec773c"],["b1cdd681.863a68"],["976ad724.663078"]]},{"id":"b1cdd681.863a68","type":"delay","z":"a8c7c688.8c4238","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":332,"y":562,"wires":[["7cb592a6.ec773c"]]},{"id":"976ad724.663078","type":"delay","z":"a8c7c688.8c4238","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":331,"y":595,"wires":[["7cb592a6.ec773c"]]},{"id":"6873bb12.0cb394","type":"function","z":"a8c7c688.8c4238","name":"get id as int","func":"msg.id = parseInt(msg.payload._id);\nreturn msg;","outputs":1,"noerr":0,"x":269.5,"y":375,"wires":[["63957086.37de8"]]},{"id":"e6628fde.a256f","type":"comment","z":"a8c7c688.8c4238","name":"Explanation","info":"Google only allows 50 map api call per second so we need to split our request into 3 separate ones.","x":533.5,"y":579,"wires":[]},{"id":"c5d9851a.7acad8","type":"debug","z":"81709807.535b18","name":"","active":true,"console":"false","complete":"false","x":620.5,"y":297,"wires":[]},{"id":"7cb592a6.ec773c","type":"switch","z":"a8c7c688.8c4238","name":"","property":"payload.property_values.latitude","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":446.5,"y":494,"wires":[["ff64ad4a.2475a","4c5c2da2.e9e674"]]},{"id":"c680e141.d3442","type":"inject","z":"c6781dea.a48d6","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":103,"y":61,"wires":[["d8d53d2a.dc8b4"]]},{"id":"bd07204a.d0e94","type":"function","z":"c6781dea.a48d6","name":"get school instances","func":"msg.elevations = JSON.parse(msg.payload);\n\nvar url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":260,"y":221,"wires":[["f832c403.f04908"]]},{"id":"f832c403.f04908","type":"http request","z":"c6781dea.a48d6","name":"","method":"GET","ret":"obj","url":"","tls":"","x":261,"y":250,"wires":[["70a149ae.e837f8"]]},{"id":"70a149ae.e837f8","type":"split","z":"c6781dea.a48d6","name":"","splt":"\\n","x":236,"y":338,"wires":[["97e550a3.2bba3"]]},{"id":"230510f0.6b773","type":"function","z":"c6781dea.a48d6","name":"look up elevations in db ","func":"msg.school = msg.payload._id;\nvar props = msg.payload.property_values;\nvar key = props.latitude[0] + ',' + props.longitude[0];\nmsg.payload.result = msg.elevations[key];\n\nreturn msg;","outputs":1,"noerr":0,"x":365,"y":523,"wires":[["12c240f9.911a0f"]]},{"id":"953285c0.e1d768","type":"ce-post","z":"c6781dea.a48d6","name":"add elevation to school","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"the school msg.school\n  has the value msg.payload.result.elevation as elevation.\n  ","action":"save","returninstances":"","steps":"","x":855,"y":615,"wires":[[]]},{"id":"d8d53d2a.dc8b4","type":"file in","z":"c6781dea.a48d6","name":"load elevations database","filename":"./elevations.json","format":"utf8","x":217.5,"y":128,"wires":[["bd07204a.d0e94"]]},{"id":"97e550a3.2bba3","type":"switch","z":"c6781dea.a48d6","name":"ignore unknown latitudes","property":"payload.property_values.latitude","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":265.5,"y":438,"wires":[["230510f0.6b773"]]},{"id":"12c240f9.911a0f","type":"switch","z":"c6781dea.a48d6","name":"ignore unknown elevations","property":"payload.result","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":511.5,"y":616,"wires":[["953285c0.e1d768"]]}]