sample-usage/flows.json
[{"id":"fb15ffa4.086b3","type":"tab","label":"Schools CE"},{"id":"7475f13c.2dc26","type":"tab","label":"Postcode CE"},{"id":"5881fdb1.dc5614","type":"tab","label":"Elevation CE"},{"id":"82e72a4f.53d978","type":"tab","label":"Possible Staging Areas CE"},{"id":"81709807.535b18","type":"tab","label":"Manage Postcodes"},{"id":"a8c7c688.8c4238","type":"tab","label":"Save Elevations"},{"id":"b2d750c3.69247","type":"tab","label":"Config"},{"id":"641bee06.eb8be","type":"config","z":"b2d750c3.69247","name":"","properties":[{"p":"ceUrl","pt":"global","to":"http://localhost:8080/ce-store","tot":"str"},{"p":"mapsKey","pt":"global","to":"","tot":"str"}],"active":true,"x":206,"y":129,"wires":[]},{"id":"3ad4115d.d5692e","type":"inject","z":"fb15ffa4.086b3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":166,"y":309,"wires":[["f40f41b7.c295"]]},{"id":"f40f41b7.c295","type":"file in","z":"fb15ffa4.086b3","name":"load schools","filename":"data/schools.csv","format":"utf8","x":365,"y":309,"wires":[["39aa28fc.256298"]]},{"id":"39aa28fc.256298","type":"csv","z":"fb15ffa4.086b3","name":"","sep":",","hdrin":true,"hdrout":"","multi":"one","ret":"\\n","temp":"","x":540.5,"y":309,"wires":[["b0c724e7.210838"]]},{"id":"b0c724e7.210838","type":"ce-post","z":"fb15ffa4.086b3","name":"instanciate schools","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"there is a school named {uid} that\n  has the value msg.payload.site_name as site name and\n  has the value msg.payload.address as address and\n  has the value msg.payload.telephone_number as telephone number and\n  has the value msg.payload.pupil_gender as pupil gender and\n  has the value msg.payload.number_of_pupils as number of pupils and\n  has the value msg.payload.postcode as postcode.","action":"save","returninstances":"","steps":"","x":742.5,"y":309,"wires":[[]]},{"id":"1889515a.72fabf","type":"inject","z":"7475f13c.2dc26","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":121.5,"y":85,"wires":[["8eeb9993.3fec58"]]},{"id":"8eeb9993.3fec58","type":"function","z":"7475f13c.2dc26","name":"get school instances","func":"var url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":320.5,"y":85,"wires":[["974ee1e9.5a8e4"]]},{"id":"974ee1e9.5a8e4","type":"http request","z":"7475f13c.2dc26","name":"","method":"GET","ret":"obj","url":"","tls":"","x":284.5,"y":153,"wires":[["eaedb379.ba747"]]},{"id":"eaedb379.ba747","type":"split","z":"7475f13c.2dc26","name":"","splt":"\\n","x":443.5,"y":153,"wires":[["55e429e1.e6d778"]]},{"id":"55e429e1.e6d778","type":"function","z":"7475f13c.2dc26","name":"postcode api","func":"msg.school = msg.payload._id;\nmsg.postcode = msg.payload;\nmsg.url = \"https://api.postcodes.io/postcodes/\" + msg.payload.property_values.postcode;\n\nreturn msg;","outputs":1,"noerr":0,"x":607.5,"y":153,"wires":[["9c8bb45.87ead48"]]},{"id":"9c8bb45.87ead48","type":"http request","z":"7475f13c.2dc26","name":"","method":"GET","ret":"obj","url":"","tls":"","x":605.5,"y":227,"wires":[["7e352ae3.c84bd4"]]},{"id":"7e352ae3.c84bd4","type":"ce-post","z":"7475f13c.2dc26","name":"add lat/ lon to school","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"the school msg.school\n  has the value msg.payload.result.latitude as latitude and\n  has the value msg.payload.result.longitude as longitude.\n","action":"save","returninstances":"","steps":"","x":817.5,"y":227,"wires":[[]]},{"id":"3d4d5833.9bc118","type":"inject","z":"82e72a4f.53d978","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":126.5,"y":90,"wires":[["bdf4b4b8.1fd178"]]},{"id":"bdf4b4b8.1fd178","type":"ce-post","z":"82e72a4f.53d978","name":"conceptualise possible staging area","cetype":"concepts","ceid":"","rulename":"","queryname":"","cetext":"conceptualise a ~ possible staging area ~ PSA.","action":"save","returninstances":"","steps":"","x":400.5,"y":90,"wires":[[]]},{"id":"6f6b8400.79d95c","type":"inject","z":"81709807.535b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":131,"y":133,"wires":[["b698f385.14e4e"]]},{"id":"b698f385.14e4e","type":"function","z":"81709807.535b18","name":"","func":"var url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":294,"y":133,"wires":[["282f4044.b39ee"]]},{"id":"282f4044.b39ee","type":"http request","z":"81709807.535b18","name":"","method":"GET","ret":"obj","url":"","tls":"","x":466,"y":133,"wires":[["7256621b.a61e2c"]]},{"id":"7256621b.a61e2c","type":"split","z":"81709807.535b18","name":"","splt":"\\n","x":264,"y":245,"wires":[["3878b62d.46c60a"]]},{"id":"3878b62d.46c60a","type":"function","z":"81709807.535b18","name":"","func":"msg.school = msg.payload._id;\nmsg.postcode = msg.payload;\nmsg.url = \"https://api.postcodes.io/postcodes/\" + msg.payload.property_values.postcode;\n\nreturn msg;","outputs":1,"noerr":0,"x":413,"y":245,"wires":[["5afb67d1.142e28"]]},{"id":"5afb67d1.142e28","type":"http request","z":"81709807.535b18","name":"","method":"GET","ret":"obj","url":"","tls":"","x":415,"y":328,"wires":[["a6064567.04bd48"]]},{"id":"a6064567.04bd48","type":"join","z":"81709807.535b18","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":606,"y":328,"wires":[["515c66e0.bb51d8","c5d9851a.7acad8"]]},{"id":"515c66e0.bb51d8","type":"function","z":"81709807.535b18","name":"","func":"var postcodeDB = {};\n\nfor (i = 0; i < msg.payload.length; i++) {\n    var result = msg.payload[i].result;\n    if (result) {\n        postcodeDB[result.postcode.replace(\" \", \"\")] = result;\n    }\n    \n}\n\nmsg.payload = postcodeDB;\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":328,"wires":[["ca63a5d.ce58858"]]},{"id":"ca63a5d.ce58858","type":"file","z":"81709807.535b18","name":"save to file","filename":"data/postcodes.json","appendNewline":false,"createDir":false,"overwriteFile":"false","x":975.5,"y":328,"wires":[]},{"id":"602fac7d.806a54","type":"ce-post","z":"fb15ffa4.086b3","name":"conceptualise school","cetype":"concepts","ceid":"","rulename":"","queryname":"","cetext":"-- model\nconceptualise a ~ school ~ S that\n  is a spatial thing and\n  is a renderable thing and\n  has the value _S as  ~ site name ~ and\n  has the value _A as ~ address ~ and\n  has the value _P as ~ postcode ~ and\n  has the value _T as ~ telephone number ~ and\n  has the value _G as ~ pupil gender ~ and\n  has the value _N as ~ number of pupils ~.\n","action":"save","returninstances":"","steps":"","x":398.5,"y":169,"wires":[[]]},{"id":"ef6890ea.c7d12","type":"inject","z":"fb15ffa4.086b3","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":167.5,"y":169,"wires":[["602fac7d.806a54"]]},{"id":"e8ba0b46.fc24f8","type":"inject","z":"5881fdb1.dc5614","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":101,"y":86,"wires":[["e00aa196.b1472"]]},{"id":"e00aa196.b1472","type":"function","z":"5881fdb1.dc5614","name":"get school instances","func":"var url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":298,"y":86,"wires":[["4c8a56d5.0ba0b8"]]},{"id":"4c8a56d5.0ba0b8","type":"http request","z":"5881fdb1.dc5614","name":"","method":"GET","ret":"obj","url":"","tls":"","x":288,"y":178,"wires":[["bbff83a5.d8cb9"]]},{"id":"bbff83a5.d8cb9","type":"split","z":"5881fdb1.dc5614","name":"","splt":"\\n","x":445,"y":178,"wires":[["34de9be3.fd9294"]]},{"id":"6c35660d.632818","type":"function","z":"5881fdb1.dc5614","name":"elevation api","func":"msg.school = msg.payload._id;\n\nvar props = msg.payload.property_values;\n\nvar url = \"https://maps.googleapis.com/maps/api/elevation/json?locations=\";\nurl += props.latitude;\nurl += \",\";\nurl += props.longitude;\nurl += \"&key=\" + global.get(\"mapsKey\");\n\n\nmsg.url = url;\n\nreturn msg;","outputs":1,"noerr":0,"x":830,"y":281,"wires":[["77cd177c.4413c8"]]},{"id":"77cd177c.4413c8","type":"http request","z":"5881fdb1.dc5614","name":"","method":"GET","ret":"obj","url":"","tls":"","x":552,"y":422,"wires":[["49e70dfd.796864"]]},{"id":"3509c467.5558bc","type":"ce-post","z":"5881fdb1.dc5614","name":"add elevation to school","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"the school msg.school\n  has the value msg.elevation as elevation.\n","action":"save","returninstances":"","steps":"","x":989,"y":422,"wires":[[]]},{"id":"8537d06e.798e4","type":"switch","z":"5881fdb1.dc5614","name":"","property":"id","propertyType":"msg","rules":[{"t":"lt","v":"41","vt":"str"},{"t":"btwn","v":"40","vt":"num","v2":"80","v2t":"num"},{"t":"gte","v":"80","vt":"str"}],"checkall":"true","outputs":3,"x":394,"y":294,"wires":[["6c35660d.632818"],["93847b36.5df668"],["f8c11a2e.c02a48"]]},{"id":"93847b36.5df668","type":"delay","z":"5881fdb1.dc5614","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":578,"y":307,"wires":[["6c35660d.632818"]]},{"id":"f8c11a2e.c02a48","type":"delay","z":"5881fdb1.dc5614","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":577,"y":340,"wires":[["6c35660d.632818"]]},{"id":"34de9be3.fd9294","type":"function","z":"5881fdb1.dc5614","name":"get id as int","func":"msg.id = parseInt(msg.payload._id);\nreturn msg;","outputs":1,"noerr":0,"x":605.5,"y":178,"wires":[["8537d06e.798e4"]]},{"id":"49e70dfd.796864","type":"function","z":"5881fdb1.dc5614","name":"parse payload","func":"msg.elevation = msg.payload.results[0].elevation;\nreturn msg;","outputs":1,"noerr":0,"x":750.5,"y":422,"wires":[["3509c467.5558bc"]]},{"id":"619f2981.d6bae8","type":"comment","z":"5881fdb1.dc5614","name":"Delay Explanation","info":"Google only allows 50 map api call per second \nso we need to split our request into 3 separate \nones.","x":606.5,"y":255,"wires":[]},{"id":"73f39efb.f561b","type":"inject","z":"a8c7c688.8c4238","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":141,"y":87,"wires":[["ce1b6d4b.eabe2"]]},{"id":"ce1b6d4b.eabe2","type":"function","z":"a8c7c688.8c4238","name":"","func":"var url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":293,"y":87,"wires":[["e145decd.c682"]]},{"id":"e145decd.c682","type":"http request","z":"a8c7c688.8c4238","name":"","method":"GET","ret":"obj","url":"","tls":"","x":458,"y":87,"wires":[["2a1e8dcf.3beac2"]]},{"id":"2a1e8dcf.3beac2","type":"split","z":"a8c7c688.8c4238","name":"","splt":"\\n","x":630,"y":87,"wires":[["6873bb12.0cb394"]]},{"id":"4c5c2da2.e9e674","type":"join","z":"a8c7c688.8c4238","name":"","mode":"auto","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\\n","timeout":"","count":"","x":717,"y":407,"wires":[["3e252013.b7185"]]},{"id":"3e252013.b7185","type":"function","z":"a8c7c688.8c4238","name":"","func":"var elevationDB = {};\n\nfor (i = 0; i < msg.payload.length; i++) {\n    var payload = msg.payload[i];\n    if (payload) {\n            var result = msg.payload[i].results;\n            if (result) {\n               result = result[0];\n                var key = result.location.lat + ',' + result.location.lng;\n                elevationDB[key] = result;\n            }\n    }\n\n    \n}\n\nmsg.payload = elevationDB;\nreturn msg;","outputs":1,"noerr":0,"x":852,"y":407,"wires":[["c249eb67.317328"]]},{"id":"c249eb67.317328","type":"file","z":"a8c7c688.8c4238","name":"save to file","filename":"data/elevations.json","appendNewline":false,"createDir":false,"overwriteFile":"false","x":1006.5,"y":407,"wires":[]},{"id":"ff64ad4a.2475a","type":"function","z":"a8c7c688.8c4238","name":"elevation api","func":"msg.school = msg.payload._id;\n\nvar props = msg.payload.property_values;\n\nvar url = \"https://maps.googleapis.com/maps/api/elevation/json?locations=\";\nurl += props.latitude[0];\nurl += \",\";\nurl += props.longitude[0];\nurl += \"&key=\" + global.get(\"mapsKey\");\n\n\nmsg.url = url;\nmsg.headers = null;\n\nreturn msg;","outputs":1,"noerr":0,"x":725,"y":296,"wires":[["d2945dda.234b7"]]},{"id":"d2945dda.234b7","type":"http request","z":"a8c7c688.8c4238","name":"","method":"GET","ret":"obj","url":"","tls":"","x":915,"y":296,"wires":[["4c5c2da2.e9e674"]]},{"id":"63957086.37de8","type":"switch","z":"a8c7c688.8c4238","name":"","property":"id","propertyType":"msg","rules":[{"t":"lt","v":"40","vt":"str"},{"t":"btwn","v":"40","vt":"num","v2":"80","v2t":"num"},{"t":"gte","v":"80","vt":"str"}],"checkall":"true","outputs":3,"x":204,"y":308,"wires":[["7cb592a6.ec773c"],["b1cdd681.863a68"],["976ad724.663078"]]},{"id":"b1cdd681.863a68","type":"delay","z":"a8c7c688.8c4238","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":357,"y":317,"wires":[["7cb592a6.ec773c"]]},{"id":"976ad724.663078","type":"delay","z":"a8c7c688.8c4238","name":"","pauseType":"delay","timeout":"4","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"x":356,"y":350,"wires":[["7cb592a6.ec773c"]]},{"id":"6873bb12.0cb394","type":"function","z":"a8c7c688.8c4238","name":"get id as int","func":"msg.id = parseInt(msg.payload._id);\nreturn msg;","outputs":1,"noerr":0,"x":798.5,"y":87,"wires":[["63957086.37de8"]]},{"id":"e6628fde.a256f","type":"comment","z":"a8c7c688.8c4238","name":"Explanation","info":"Google only allows 50 map api call per second \nso we need to split our request into 3 separate \nones.","x":366.5,"y":387,"wires":[]},{"id":"c5d9851a.7acad8","type":"debug","z":"81709807.535b18","name":"","active":true,"console":"false","complete":"false","x":788.5,"y":289,"wires":[]},{"id":"7cb592a6.ec773c","type":"switch","z":"a8c7c688.8c4238","name":"","property":"payload.property_values.latitude","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":549.5,"y":296,"wires":[["ff64ad4a.2475a","4c5c2da2.e9e674"]]},{"id":"f305f4e9.731cd8","type":"inject","z":"7475f13c.2dc26","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":122,"y":485,"wires":[["a1c27a88.eb24f8"]]},{"id":"50bdf1f9.51721","type":"function","z":"7475f13c.2dc26","name":"get school instances","func":"msg.postcodes = JSON.parse(msg.payload);\n\nvar url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":614,"y":485,"wires":[["65d533ee.1c2cfc"]]},{"id":"65d533ee.1c2cfc","type":"http request","z":"7475f13c.2dc26","name":"","method":"GET","ret":"obj","url":"","tls":"","x":379,"y":564,"wires":[["fd7b1993.ab5ea8"]]},{"id":"fd7b1993.ab5ea8","type":"split","z":"7475f13c.2dc26","name":"","splt":"\\n","x":548,"y":564,"wires":[["5fbf3075.88e3a"]]},{"id":"5fbf3075.88e3a","type":"function","z":"7475f13c.2dc26","name":"look up lat/ lon in postcode db ","func":"msg.school = msg.payload._id;\nmsg.payload.result = msg.postcodes[msg.payload.property_values.postcode];\n\nreturn msg;","outputs":1,"noerr":0,"x":770,"y":564,"wires":[["55deb918.b0d9e8"]]},{"id":"c2c199c8.7410f8","type":"ce-post","z":"7475f13c.2dc26","name":"add lat/ lon to school","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"the school msg.school\n  has the value msg.payload.result.latitude as latitude and\n  has the value msg.payload.result.longitude as longitude.\n","action":"save","returninstances":"","steps":"","x":947,"y":662,"wires":[[]]},{"id":"a1c27a88.eb24f8","type":"file in","z":"7475f13c.2dc26","name":"load postcodes database","filename":"data/postcodes.json","format":"utf8","x":355.5,"y":485,"wires":[["50bdf1f9.51721"]]},{"id":"55deb918.b0d9e8","type":"switch","z":"7475f13c.2dc26","name":"ignore unknown postcodes","property":"payload.result","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":686.5,"y":662,"wires":[["c2c199c8.7410f8"]]},{"id":"a75d06f8.0c3f58","type":"comment","z":"7475f13c.2dc26","name":"Load from API","info":"","x":105.5,"y":47,"wires":[]},{"id":"6bd20ea.a92a5f","type":"comment","z":"7475f13c.2dc26","name":"Load from Database","info":"","x":126,"y":446,"wires":[]},{"id":"70d4c9db.16b2d8","type":"comment","z":"fb15ffa4.086b3","name":"Conceptualise school concept","info":"","x":200.5,"y":132,"wires":[]},{"id":"7008ecf4.e82b74","type":"comment","z":"fb15ffa4.086b3","name":"Load schools from CSV","info":"","x":180,"y":271,"wires":[]},{"id":"a206a6b8.774a68","type":"comment","z":"5881fdb1.dc5614","name":"Get Elevation from API","info":"","x":114.5,"y":50,"wires":[]},{"id":"f08ca6b9.587f48","type":"inject","z":"5881fdb1.dc5614","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":99,"y":573,"wires":[["624547b1.b23998"]]},{"id":"401cbbba.663d04","type":"function","z":"5881fdb1.dc5614","name":"get school instances","func":"msg.elevations = JSON.parse(msg.payload);\n\nvar url = global.get('ceUrl');\nurl += '/concepts/school/instances';\nmsg.url = url;\nreturn msg;","outputs":1,"noerr":0,"x":551,"y":573,"wires":[["eb2413c5.8168b"]]},{"id":"eb2413c5.8168b","type":"http request","z":"5881fdb1.dc5614","name":"","method":"GET","ret":"obj","url":"","tls":"","x":336,"y":675,"wires":[["ec70ab7e.0d8908"]]},{"id":"ec70ab7e.0d8908","type":"split","z":"5881fdb1.dc5614","name":"","splt":"\\n","x":492,"y":675,"wires":[["7534286f.4c8958"]]},{"id":"ee9b91e5.f6681","type":"function","z":"5881fdb1.dc5614","name":"look up elevations in db ","func":"msg.school = msg.payload._id;\nvar props = msg.payload.property_values;\nvar key = props.latitude[0] + ',' + props.longitude[0];\nmsg.payload.result = msg.elevations[key];\n\nreturn msg;","outputs":1,"noerr":0,"x":442,"y":779,"wires":[["732332c1.83b9dc"]]},{"id":"35d23166.02385e","type":"ce-post","z":"5881fdb1.dc5614","name":"add elevation to school","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"the school msg.school\n  has the value msg.payload.result.elevation as elevation.\n  ","action":"save","returninstances":"","steps":"","x":998,"y":779,"wires":[[]]},{"id":"624547b1.b23998","type":"file in","z":"5881fdb1.dc5614","name":"load elevations database","filename":"data/elevations.json","format":"utf8","x":304.5,"y":573,"wires":[["401cbbba.663d04"]]},{"id":"7534286f.4c8958","type":"switch","z":"5881fdb1.dc5614","name":"ignore unknown latitudes","property":"payload.property_values.latitude","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":684.5,"y":675,"wires":[["ee9b91e5.f6681"]]},{"id":"732332c1.83b9dc","type":"switch","z":"5881fdb1.dc5614","name":"ignore unknown elevations","property":"payload.result","propertyType":"msg","rules":[{"t":"nnull"}],"checkall":"true","outputs":1,"x":718.5,"y":779,"wires":[["35d23166.02385e"]]},{"id":"7183fc58.358bc4","type":"comment","z":"5881fdb1.dc5614","name":"Get Elevation from Database","info":"","x":136,"y":532,"wires":[]},{"id":"a27b7cf6.4371","type":"comment","z":"81709807.535b18","name":"Save Postcodes to File","info":"","x":146.5,"y":96,"wires":[]},{"id":"13f1321c.05656e","type":"comment","z":"a8c7c688.8c4238","name":"Save Elevations to File","info":"","x":154.5,"y":52,"wires":[]},{"id":"1686f0fa.78160f","type":"inject","z":"81709807.535b18","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":123,"y":527,"wires":[["3218252f.8420da"]]},{"id":"3218252f.8420da","type":"file in","z":"81709807.535b18","name":"load schools","filename":"dtaa/schools-facts.ce","format":"utf8","x":285,"y":527,"wires":[["649a2f8e.e050b"]]},{"id":"f8198ea1.4e848","type":"ce-post","z":"81709807.535b18","name":"create complete postcode","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"there is a postcode named msg.postcode that\n  has the value msg.lat as latitude and\n  has the value msg.lon as longitude and\n  has the value msg.eastings as mgrs easting and\n  has the value msg.northings as mgrs northing.","action":"save","returninstances":"false","steps":"","x":929,"y":712,"wires":[[]]},{"id":"649a2f8e.e050b","type":"function","z":"81709807.535b18","name":"extract postcodes","func":"var text = msg.payload;\nvar postcodes = [];\n\nfor(i = 0; i < 123; i++) {\n    var index = text.indexOf(\"postcode\")\n    var postcode = text.substring(index + 10, index + 17);\n    text = text.slice(index + 30);\n    postcodes.push(postcode.replace(\"'\", \"\"));\n}\n\nmsg.payload = postcodes;\n\n\nreturn msg;","outputs":1,"noerr":0,"x":486,"y":527,"wires":[["baf8f9a9.7baf38"]]},{"id":"baf8f9a9.7baf38","type":"split","z":"81709807.535b18","name":"","splt":"\\n","x":263,"y":638,"wires":[["3cb981f1.e8669e"]]},{"id":"f15dd9d.7906a28","type":"http request","z":"81709807.535b18","name":"postcode api","method":"GET","ret":"obj","url":"","tls":"","x":574,"y":638,"wires":[["c22362f1.91503"]]},{"id":"3cb981f1.e8669e","type":"function","z":"81709807.535b18","name":"create url","func":"msg.postcode = msg.payload;\nmsg.url = \"https://api.postcodes.io/postcodes/\" + msg.payload;\n    \nreturn msg;","outputs":1,"noerr":0,"x":407,"y":638,"wires":[["f15dd9d.7906a28"]]},{"id":"c22362f1.91503","type":"function","z":"81709807.535b18","name":"extract from response","func":"var result = msg.payload.result;\n\nif (result) {\n    msg.lat = result.latitude;\n    msg.lon = result.longitude;\n    msg.eastings = result.eastings;\n    msg.northings = result.northings;\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":525,"y":739,"wires":[["357509a7.4b8976"]]},{"id":"357509a7.4b8976","type":"switch","z":"81709807.535b18","name":"","property":"lat","propertyType":"msg","rules":[{"t":"nnull"},{"t":"else"}],"checkall":"true","outputs":2,"x":713,"y":739,"wires":[["f8198ea1.4e848"],["23f047e6.9b71e8"]]},{"id":"23f047e6.9b71e8","type":"ce-post","z":"81709807.535b18","name":"create postcode stub","cetype":"instances","ceid":"","rulename":"","queryname":"","cetext":"there is a postcode named msg.postcode","action":"save","returninstances":"false","steps":"","x":911,"y":766,"wires":[[]]},{"id":"3faa96e2.b5477a","type":"comment","z":"81709807.535b18","name":"Extract Postcodes from Schools CE","info":"","x":176,"y":490,"wires":[]},{"id":"c1cfda64.34ed18","type":"comment","z":"82e72a4f.53d978","name":"Conceptualise possible staging area concept","info":"","x":212,"y":54,"wires":[]},{"id":"a48b29b0.0b3788","type":"comment","z":"5881fdb1.dc5614","name":"Google Maps API Key Required","info":"This flow requires a Google Maps API key to be obtained and added to the Config node.","x":358,"y":50,"wires":[]}]